<ion-view title="Edit Property" ng-controller="editPropertyDetailsCtrl" ng-init="getPropertyById()">
    <ion-content scroll="true" padding="true" class="has-header">
        <div class="h3">Edit property details</div>
        <div ng-show="!editMode" class="card">
          <div class="row">
            <div class="col">Name</div>
            <div class="col item-text-wrap">{{propertySelected.propertyName}}</div>
          </div>
          <div class="row">
            <div class="col">Type</div>
            <div class="col">{{propertySelected.type}}</div>
          </div>
          <div class="row">
            <div class="col">Rooms</div>
            <div class="col">{{propertySelected.bhk}}</div>
          </div>
          <div class="row">
            <div class="col">address</div>
            <div class="col item-text-wrap">{{propertySelected.address}}</div>
          </div>
          <div class="row">
            <div class="col">Floor area (sq ft)</div>
            <div class="col">{{propertySelected.floorArea}}</div>
          </div>
          <div class="row">
            <div class="col">Possession from</div>
            <div class="col">{{propertySelected.availableFrom}}</div>
          </div>
          <div class="row">
            <div class="col">Rent (per month)</div>
            <div class="col">{{propertySelected.price}}</div>
          </div>
          <div class="row">
            <div class="col">Furnished</div>
            <div class="col">{{propertySelected.furnished}}</div>
          </div>
        </div>

        <form ng-show="editMode" class="list" name="propertyForm" ng-submit="onUpdate()">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Building Name</span>
                <input type="text" ng-model="form.propertyName" placeholder="Building name">
            </label>
            <label class="item item-select" name="propertyType">
                <span class="input-label">Property Type</span>
                <select ng-model="form.type" required>
                    <option value="Apartment">Apartment</option>
                    <option value="Independent House">Independent House</option>
                    <option value="Row House">Row House</option>
                    <option value="Pent House">Pent House</option>
                    <option value="Studio Apartment">Studio Apartment</option>
                </select>
            </label>
            <label class="item item-select" name="rooms" required>
                <span class="input-label">Rooms</span>
                <select ng-model="form.bhk">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input ng-disabled="true" type="text" ng-model="propertySelected.address" required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Area</span>
                <input type="number" inputmode="numeric" pattern="[0-9]*" min="0" ng-model="form.floorArea" placeholder="Area in Sq ft">
            </label>
            <label class="item item-input item-stacked-label" name="possession">
                <span class="input-label">Posession from</span>
                <input type="date" ng-model="form.availableFrom" placeholder="Enter date" required>
            </label>
            <label class="item item-input item-stacked-label" name="rent">
                <span class="input-label">Rent</span>
                <input type="number" inputmode="numeric" pattern="[0-9]*" min="0" ng-model="form.price" placeholder="Monthly Rent $" required>
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-model="form.furnished" name="furnished">Furnished</ion-toggle>
        <!--<label class="item item-input item-stacked-label" name="photo">
                  <span class="input-label">Add Photo</span>
                  <button class="button button-icon icon ion-camera" ng-click="getPhoto()">Take Photo</button>
              </label> -->
            <button ng-show="editMode" id="editPropertyDetails-button12" class="button button-positive button-block"
                    ng-disabled="propertyForm.$invalid">Update</button>
        </form>
      <button ng-show="editMode" id="editPropertyDetails-button13" class="button button-positive button-block"
              ng-click="onEdit()">Cancel</button>
      <div class="row">
        <div class="col"> <button ng-show="!editMode" id="editPropertyDetails-button14" class="button button-positive button-block"
                ng-click="onEdit()">Edit</button></div>
        <!--  <div class="col"><button ng-show="!editMode" id="editPropertyDetails-button15" class="button button-energized button-block"
                ng-click="onUnlist()">Unlist</button></div> -->
            <div class="col"> <button ng-show="!editMode" id="editPropertyDetails-button15" class="button button-assertive button-block"
                ng-click="onDelete()">Delete</button></div>
      </div>

    </ion-content>
</ion-view>
