<ion-view title="Home" ng-controller="homeCtrl" ng-init="getAllProperty()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-list ng-repeat="item in propertyList">
            <ion-item class="item-thumbnail-left">
                <img>
                <h1>{{item.propertyName}}</h1>
                <h2>{{item.type}}</h2>
                <h2>{{item.price}}</h2>
                <p>{{item.address}}</p>
                <p>Posted on: {{item.postedOn}}</p>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
        </ion-list>
    </ion-content>
</ion-view>
