<ion-view title="Home" ng-controller="homeCtrl" ng-init="getAllProperty()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="getAllProperty()">
      </ion-refresher>
      <ion-list ng-repeat="property in propertyList">
        <!--
        <ion-item class="item-thumbnail-left">
                <img ng-src="https://s3-us-west-2.amazonaws.com/rentappimages/{{property.pictureLink}}" err-src="images/no-image.png">
                <a ui-sref="menu.propertyDetails({propertyId: property.propertyId})"><div class="h3">{{property.propertyName}}</div></a>
                <h2>{{property.price | currency}}/month</h2>
                <p>{{property.type}}</p>
                <div class="item-text-wrap">{{property.address}}</div>
                <a ui-sref="menu.ownerDetails({ownerId: property.userId})">Owner</a>
                <p>Posted on: {{property.postedOn}}</p>
            </ion-item>
        -->
        <ion-item>
          <div class="item item-image wrapper" ui-sref="menu.propertyDetails({propertyId: property.propertyId})">
            <img ng-src="https://s3-us-west-2.amazonaws.com/rentappimages/{{property.pictureLink}}" err-src="images/no-image.png">
            <p>{{property.price | currency}}/month</p>
            <p2>{{property.type}}</p2>
          </div>
          <a ui-sref="menu.propertyDetails({propertyId: property.propertyId})"><div class="h4 item-text-wrap">{{property.propertyName}}</div></a>
          <a ng-hide="property.propertyName" ui-sref="menu.propertyDetails({propertyId: property.propertyId})"><div class="h3 item-text-wrap">View Property</div></a>
          <div class="item-text-wrap">{{property.address}}</div>
          <a ui-sref="menu.ownerDetails({ownerId: property.userId})">Owner</a>
          <p class="text-right">Posted on: {{property.postedOn}}</p>
        </ion-item>
        <div class="item-divider"></div>
        </ion-list>
      <a ng-show="links.firstPage" href="#" onclick="loadPageWithLink(links.firstPage)">First</a>
      <a ng-show="links.previousPage" href="#" onclick="loadPageWithLink(links.previousPage)">Previous</a>
      <a ng-show="links.nextPage" href="#" onclick="loadPageWithLink(links.nextPage)">Next</a>
      <a ng-show="links.lastPage" href="#" onclick="loadPageWithLink(links.lastPage)">Last</a>
    </ion-content>
</ion-view>
