<ion-view title="Login" ng-controller="loginCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="login()">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="user.email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login-button1" class="button button-stable  button-block">Log in</button>
            <a href="#" ui-sref="menu.signup" id="login-button2" class="button   button-block button-clear">Or create an account</a>
        </form>
      {{user}}
    </ion-content>
</ion-view>
