<ion-view title="My Property Listings" ng-controller="manageListingsCtrl" ng-init="getMyProperties()">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="getMyProperties()">
        </ion-refresher>
      <h3 class="text-center">Select a property to edit</h3>
      <ion-list ng-repeat="property in propertyList">
            <ion-item class="">
              <a ui-sref="menu.editPropertyDetails({propertyId: property.propertyId})"><div class="h3">{{property.propertyName}}</div></a>
              <a ui-sref="menu.editPropertyDetails({propertyId: property.propertyId})"><div ng-if="!property.propertyName">View property</div></a>
              <p>{{property.type}}</p>
                <p>{{property.price | currency}}/month</p>
                <div class="item-text-wrap">{{property.address}}</div>
                <p class="text-right">Posted on: {{property.postedOn}}</p>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
        </ion-list>
    </ion-content>
</ion-view>
