<ion-side-menus enable-menu-with-back-views="false" ng-controller="menuCtrl">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" ng-click="checkUser()" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.home" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.search" menu-close="">Search</ion-item>
        <!--    <ion-item ng-show="userLogged" ui-sref="menu.shortlistedProperties" menu-close="">Shortlisted Properties</ion-item>   -->
            </ion-list>
            <div class="spacer" style="width: 268px; height: 24px;"></div>
            <ion-list>
                <ion-item ng-show="userLogged" ui-sref="menu.listYourProperty" menu-close="">List Your Property</ion-item>
                <ion-item ng-show="userLogged" ui-sref="menu.manageListings" menu-close="">Manage Listings</ion-item>
            </ion-list>
            <div class="spacer" style="width: 268px; height: 24px;"></div>
            <ion-list>
                <ion-item ng-show="userLogged" ui-sref="menu.settings" menu-close="">Settings</ion-item>
                <ion-item ng-show="userLogged" ng-click="logout()" menu-close="">Logout</ion-item>
            </ion-list>
            <ion-list>
                <ion-item ng-hide="userLogged" ui-sref="menu.login" menu-close="">Login</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
