<ion-view title="Property Details" ng-controller="propertyDetailsCtrl" ng-init="getPropertyById()">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list card">
      <div class="h3 padding-left">{{propertySelected.price | currency}}/month</div>
      <div class="item item-image">
        <img ng-src="" err-src="../images/no-image.png">
      </div>
      <span class="h3 padding-left">{{propertySelected.propertyName}}</span>
      <div class="padding-left">{{propertySelected.address}}</div>
      <div class="row">
        <div class="col">Rating: {{avgRating}}/5</div>
        <div class="col"> Posted: {{propertySelected.postedOn}}</div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col">Property type</div>
          <div class="col">{{propertySelected.type}}</div>
        </div>
        <div class="row">
          <div class="col">Possession from</div>
          <div class="col">{{propertySelected.availableFrom}}</div>
        </div>
        <div class="row">
          <div class="col">Rooms</div>
          <div class="col">{{propertySelected.bhk}}</div>
        </div>
        <div class="row">
          <div class="col">Floor area (sq ft)</div>
          <div class="col">{{propertySelected.floorArea}}</div>
        </div>
        <div class="row">
          <div class="col">Furnished</div>
          <div class="col">{{propertySelected.furnished}}</div>
        </div>
      </div>

      <div class="card">
        <div class="h4 padding-left">Owner</div>
        <div class="row">
          <div class="col">Name</div>
          <div class="col">{{owner.firstName}} {{owner.lastName}}</div>
        </div>
        <div class="row">
          <div class="col">Email</div>
          <div class="col">{{owner.email}}</div>
        </div>
        <div class="row">
          <div class="col">Phone</div>
          <div class="col">{{owner.phoneNo}}</div>
        </div>
      </div>

      <div class="card">
        <div class="h3 padding-left"><a ng-href="{{navigateURL}}">Location</a></div>
        <div class="item item-image">
          <a ng-href="{{navigateURL}}"><img ng-src="{{mapImageURL}}"></a>
        </div>
      </div>
    </div>

    <div class="card">
      <div ng-show="userLogged && myReview.length>0" class="card">
        <div class="h3 padding-left">Your feedback</div>
        <div class="padding-left">Rating: {{myReview[0].rating}}</div>
        <div class="padding-left">{{myReview[0].review}}</div>
      </div>

      <div ng-show="userLogged && myReview.length<1" class="">
        <div class="h3 padding-left">Give your feedback</div>
        <form class="list" ng-submit="addReview()">
          <label class="item item-select" name="giveRating">
            <span class="input-label">Rating</span>
            <select ng-model="reviewForm.rating" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Review</span>
            <input type="text" ng-model="reviewForm.review" placeholder="Your feedback...">
          </label>
          <button id="listYourProperty-button12" class="button button-positive  button-block">Submit</button>
        </form>
      </div>

      <div class="">
        <div class=" h3 padding-left">Reviews</div>
        <ion-list ng-repeat="review in reviews">
          <ion-item>
              <h2>Anonymous user {{review.userId}}</h2>
              <h3>Rated {{review.rating}}/5</h3>
              <div class="item-text-wrap">{{review.review}}</div>
            </ion-item>
        </ion-list>
      </div>

    </div>
  </ion-content>
</ion-view>
