<ion-view title="Start your search here" ng-controller="searchCtrl">
    <ion-content scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="getFilteredProperty()">
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="criteria.propertyName" placeholder="Property name or address">
            </label>
            <label class="item item-select" name="houseType">
                <span class="input-label">Type</span>
                <select ng-model="criteria.type" required>
                    <option value="Apartment">Apartment</option>
                    <option value="Independent House">Independent House</option>
                    <option value="Row House">Row House</option>
                    <option value="Penthouse">Penthouse</option>
                    <option value="Studio Apartment">Studio Apartment</option>
                </select>
            </label>
            <label class="item item-input" name="price">
                <span class="input-label">Budget</span>
                <span class="item-text-wrap">Min<input type="number" inputmode="numeric" pattern="[0-9]*" ng-model="criteria.priceMin" value="0" min="0" max="5000" name="priceMin"></span>
                <span class="item-text-wrap">Max<input type="number" inputmode="numeric" pattern="[0-9]*" ng-model="criteria.priceMax" value="5000" min="0" max="5000" name="priceMax"></span>
            </label>
            <label class="item item-select" name="bedrooms">
                <span class="input-label">Bedrooms</span>
                <select ng-model="criteria.bhk" required>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </label>
            <label ng-hide="true" class="item item-input" name="moveIn">
                <span class="input-label">Available from</span>
                <input type="date" placeholder="Enter date">
            </label>
            <button id="search-button11" class="button button-positive  button-block">Search</button>
        </form>

        <div ng-show="propertyList.length<1 && searchStarted" class="h2 text-center">No results found</div>
        <ion-list ng-repeat="property in propertyList">
          <ion-item>
            <div class="item item-image wrapper" ui-sref="menu.propertyDetails({propertyId: property.propertyId})">
              <img ng-src="https://s3-us-west-2.amazonaws.com/rentappimages/{{property.pictureLink}}" err-src="images/no-image.png">
              <p>{{property.price | currency}}/month</p>
              <p2>{{property.type}}</p2>
            </div>
            <a ui-sref="menu.propertyDetails({propertyId: property.propertyId})"><div class="h4 item-text-wrap">{{property.propertyName}}</div></a>
            <a ng-hide="property.propertyName" ui-sref="menu.propertyDetails({propertyId: property.propertyId})"><div class="h3 item-text-wrap">View Property</div></a>
            <div class="item-text-wrap">{{property.address}}</div>
            <a ui-sref="menu.ownerDetails({ownerId: property.userId})">Owner</a>
            <p class="text-right">Posted on: {{property.postedOn}}</p>
          </ion-item>
          <div class="item-divider"></div>
        </ion-list>


        <a ng-show="links.firstPage" href="#" onclick="loadPageWithLink(links.firstPage)">First</a>
        <a ng-show="links.previousPage" href="#" onclick="loadPageWithLink(links.previousPage)">Previous</a>
        <a ng-show="links.nextPage" href="#" onclick="loadPageWithLink(links.nextPage)">Next</a>
        <a ng-show="links.lastPage" href="#" onclick="loadPageWithLink(links.lastPage)">Last</a>
    </ion-content>
</ion-view>
