<ion-view title="Search" ng-controller="searchCtrl">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="getFilteredProperty()">
            <h3>Start your search here</h3>
            <label class="item item-input" name="search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="criteria.propertyName" placeholder="Property name or address">
            </label>
            <label class="item item-select" name="houseType">
                <span class="input-label">Type</span>
                <select ng-model="criteria.type" required>
                    <option value="Apartment">Apartment</option>
                    <option value="Independent House">Independent House</option>
                    <option value="Row House">Row House</option>
                    <option value="Penthouse">Penthouse</option>
                    <option value="Studio Apartment">Studio Apartment</option>
                </select>
            </label>
            <label class="item item-input" name="price">
                <span class="input-label">Budget</span>
                Min: &nbsp;<input type="number" ng-model="criteria.priceMin" value="0" min="0" max="5000" name="priceMin">
                Max: &nbsp;<input type="number" ng-model="criteria.priceMax" value="5000" min="0" max="5000" name="priceMax">
            </label>
            <label class="item item-select" name="bedrooms">
                <span class="input-label">Bedrooms</span>
                <select ng-model="criteria.bhk" required>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                </select>
            </label>
            <label ng-hide="true" class="item item-input" name="moveIn">
                <span class="input-label">Available from</span>
                <input type="date" placeholder="Enter date">
            </label>
            <button id="search-button11" class="button button-positive  button-block">Search</button>
        </form>

        <ion-list ng-repeat="property in propertyList">
            <ion-item class="item-thumbnail-left">
                <img>
                <a ui-sref="menu.propertyDetails({propertyId: property.propertyId})"><h1>{{property.propertyName}}</h1></a>
                <h2>{{property.type}}</h2>
                <h2>{{property.price | currency}}/month</h2>
                <p>{{property.address}}</p>
                <a ui-sref="menu.ownerDetails({ownerId: property.userId})">Contact Owner</a>
                <p>Posted on: {{property.postedOn}}</p>
            </ion-item>
            <ion-item class="item-divider"></ion-item>
        </ion-list>
        <a ng-show="links.firstPage" href="#" onclick="loadPageWithLink(links.firstPage)">First</a>
        <a ng-show="links.previousPage" href="#" onclick="loadPageWithLink(links.previousPage)">Previous</a>
        <a ng-show="links.nextPage" href="#" onclick="loadPageWithLink(links.nextPage)">Next</a>
        <a ng-show="links.lastPage" href="#" onclick="loadPageWithLink(links.lastPage)">Last</a>
    </ion-content>
</ion-view>